<body class="login-body">
<!--Login Wrapper-->
<div class="container-fluid login-wrapper">
  <div class="login-box">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-12 login-box-info">
        <h3 class="mb-3">Bạn không nhớ mật khẩu?</h3>
        <p class="mb-3">Bạn có thể nhập tên tài khoản để lấy lại mật khẩu hoặc trở về trang trước</p>
        <p class="text-center"><a routerLink="/login" class="btn btn-light">Trở về trang trước</a></p>
      </div>
      <div class="col-md-6 col-sm-6 col-12 login-box-form p-4">
        <h3 class="mb-4">Lấy lại mật khẩu</h3>
        <form action="" class="mt-2" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><i class="fa fa-envelope"></i></span>
            </div>
            <input type="email" class="form-control mt-0" placeholder="Tên tài khoản" aria-label="email"
                   aria-describedby="basic-addon1" formControlName="username">
          </div>
          <div class="form-group">
            <div *ngIf="isSubmited then submited else notSubmited"></div>
            <ng-template #notSubmited>
              <button class="btn btn-theme btn-block p-2 mb-1" >Gửi</button>
            </ng-template>
            <ng-template #submited>
              <button class="btn btn-theme btn-block p-2 mb-1" (click)="load()">
                Gửi
              </button>
            </ng-template>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
</body>
