<div class="container-fluid">
  <!--Header-->
  <div class="row shadow-sm">
    <!--Logo-->
    <div class="bg-primary col-3 pl-0 text-center">
      <div class="bg-primary mr-3 pt-3 pb-2 mb-0">
        <h3 style="color: white"><a href="#" style="text-decoration: none; color: white"><i style="color: white" class="fa fa-home"></i>A0321I1</a></h3>
      </div>
    </div>
    <!--Logo-->
    <!--Dropdown-->
    <div class="col-9 pt-2 pb-0">
      <div class="row">
        <div class="col-11">
          <div class="row">
            <div class="col-2 text-center mt-2">
              <a href="" style="text-decoration: none; color: black">Trang chủ</a>
            </div>
            <div class="col-2 text-center mt-2">
              <a href="" style="text-decoration: none; color: black">Giới thiệu</a>
            </div>
            <div class="col-2 text-center mt-2">
              <a href="" style="text-decoration: none; color: black">Tin tức</a>
            </div>
            <div class="col-6 text-right">
              <b class="nav-link" hidden>
                Tài khoản: <span style="color: blue"></span>
              </b>
              <b class="nav-link">Chưa đăng nhập</b>
            </div>
          </div>
        </div>
        <div class="col-1 justify-content-end mt-2" style="display: flex" hidden>
          <a style="text-decoration: none" class="dropdown-toggle" href="#" role="button" id="dropdownMenuLinkAdmin" data-toggle="dropdownAdmin" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right mt-13" aria-labelledby="dropdownMenuLinkAdmin">
            <a class="dropdown-item" href="#"><i class="fa fa-user pr-2"></i>Thông tin</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#"><i class="fa fa-th-list pr-2"></i>Nhiệm vụ</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#"><i class="fa fa-power-off pr-2"></i>Đăng xuất</a>
          </div>
        </div>
        <div class="col-1 justify-content-end mt-2" style="display: flex">
          <a style="text-decoration: none" class="dropdown-toggle mr-5" href="" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right mt-13" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href=""><i class="fa fa-sign-in-alt pr-2"></i>Đăng nhập</a>
          </div>
        </div>
      </div>
    </div>
    <!--Dropdown-->
  </div>
</div>

