<!--Header-->
<div class="row shadow-sm fixed-top clearfix">
  <!--Logo-->
  <div class="col-3 d-flex align-items-center justify-content-center">
    <div>
      <img class="tranform_img" src="../../../assets/img/logo.png" height="163" width="300"/>
    </div>
  </div>

  <div class="col-9">
    <div class="row text_header">
      <div class="col-3 none_padding">
        <ul class="d-flex justify-content-between align-items-center nav">
          <li class="nav-item">
            <a [routerLink]="['home']">Trang chủ</a>
          </li>
          <li class="nav-item">
            <a href="#about">Giới thiệu</a>
          </li>
        </ul>
      </div>

      <div class="col-5 none_padding">
        <ul class="d-flex justify-content-between align-items-center nav">
          <li class="nav-item" *ngIf="['ROLE_ADMIN'].indexOf(role)!==-1 || ['ROLE_USER'].indexOf(role)!==-1">
            <div class="dropdown">
              <a class="dropdown-toggle" href="" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Danh sách
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" [routerLink]="['floor/list']">Tầng</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Mặt bằng</a>
              </div>
            </div>
          </li>
          <li class="nav-item" *ngIf="['ROLE_ADMIN'].indexOf(role)!==-1 || ['ROLE_USER'].indexOf(role)!==-1">
            <a class="dropdown-toggle" href="" role="button" id="dropdownCustomer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Khách hàng
            </a>
            <div class="dropdown-menu dropdown-menu-right mt-13" aria-labelledby="dropdownCustomer">
              <a class="dropdown-item" href="" *ngIf="['ROLE_ADMIN'].indexOf(role)!==-1">Danh sách khách hàng</a>
              <div class="dropdown-divider" *ngIf="['ROLE_ADMIN'].indexOf(role)!==-1"></div>
              <a class="dropdown-item" href="#">Hợp đồng</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Dịch vụ</a>
            </div>
          </li>
          <li class="nav-item" *ngIf="['ROLE_ADMIN'].indexOf(role)!==-1; else elseBlock">
            <a routerLink="/employee/list" id="dropdownEmployee"
               aria-haspopup="true" aria-expanded="false">Nhân viên</a>
          </li>
        </ul>
      </div>

      <div class="col-3 none_padding">
        <ul class="d-flex justify-content-between align-items-center nav">
          <li class="nav-item">
            <b [hidden]="!isLoggedIn">
              Tài khoản: <span style="color: blue">{{username}}</span>
            </b>
            <b [hidden]="isLoggedIn">Chưa đăng nhập</b>
          </li>
        </ul>
      </div>

      <!-- Login Logout-->
      <div class="col-1 justify-content-between align-items-center none_padding" style="display: flex" [hidden]="!isLoggedIn">
        <a class="dropdown-toggle" style="color: #0d47a1" href="#" role="button" id="dropdownMenuLinkAdmin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right mt-13" aria-labelledby="dropdownMenuLinkAdmin">
          <a class="dropdown-item" routerLink="/employee/acc-detail"><i class="fa fa-user pr-2"></i>Thông tin</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#"><i class="fa fa-th-list pr-2"></i>Nhiệm vụ</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logOut()" href="#"><i class="fa fa-power-off pr-2"></i>Đăng xuất</a>
        </div>
      </div>
      <div class="col-1 justify-content-between align-items-center none_padding" style="display: flex" [hidden]="isLoggedIn">
        <a class="dropdown-toggle" style="color: #0d47a1" href="" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right mt-13" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" routerLink="login"><i class="fa fa-sign-in-alt pr-2"></i>Đăng nhập</a>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #elseBlock>
  <li style="color: white">&emsp;</li>
</ng-template>

