<div class="container-fluid header_top">
  <h3 class="text-center m-3">DANH SÁCH KHÁCH HÀNG</h3>
  <div class="row mb-3">
    <div class="col-4">
      <a class="btn btn-primary text-white" [routerLink]="['/customer/create']"><i
        class="fas fa-plus-circle mr-1"></i>Thêm mới</a>
    </div>
    <div class="col-8 ">
      <div class="row ">
        <div class="col-12 d-flex justify-content-end">
          <input class="search form-control mr-3" placeholder="Tìm kiếm mã khách hàng"
                 (keyup.enter)="search(0, id, name)" aria-describedby="basic-addon2" #id>
          <input class="search form-control mr-3" placeholder="Tìm kiếm tên khách hàng"
                 (keyup.enter)="search(0, id, name)" aria-describedby="basic-addon2" #name>
          <button id="linkAdd" class="btn btn-light btn-outline-secondary" type="submit" (click)="search(0, id, name)"
                  data-toggle="tooltip"><i class="fas fa-search mr-1"></i>Tìm
            kiếm
          </button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!customers.length; else row">
    <h3 class="text-danger text-center">Không có dữ liệu trả về.</h3>
  </div>
  <ng-template #row>
    <table class="table table-striped">
      <thead>
      <tr>
        <th width="5%" scope="col">Mã KH</th>
        <th width="13%" scope="col">Tên khách hàng</th>
        <th width="8%" scope="col">Ngày sinh</th>
        <!--      <th scope="col">CMND</th>-->
        <th width="15%" scope="col">Địa chỉ</th>
        <th width="14%" scope="col">Email</th>
        <th width="17%" scope="col">Công ty</th>
        <th width="8%" scope="col">SĐT</th>
        <th width="7%" scope="col">Tình trạng</th>
        <th width="13%" scope="col"></th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let customer of customers">
        <td>{{customer.customerId}}</td>
        <td>{{customer.customerName}}</td>
        <td>{{customer.customerBirthday|date:'dd/MM/yyy'}}</td>
        <!--        <td class="format">{{customer.customerIdCard}}</td>-->
        <td ><span class="text_ellipsis"  data-toggle="tooltip" title="{{customer.customerAddress}}">
          {{customer.customerAddress}}</span></td>
<!--        <td class="tooltipzz" [innerHTML]="renderToolTip(customer.customerEmail, 12)"><span-->
<!--          class="tooltiptext">{{customer.customerEmail}}</span></td>-->
        <td>{{customer.customerEmail}}</td>
<!--        <td ><span class="text_ellipsis"  data-toggle="tooltip" title="{{customer.customerCompany}}">-->
<!--          {{customer.customerCompany}}</span></td>-->
        <td>{{customer.customerCompany}}</td>
        <td class="format">{{customer.customerPhone}}</td>
        <td>{{customer.status}}</td>
        <td>
          <a class="btn btn-success text-white" style="text-decoration: none "
             [routerLink]="['/customer/edit',customer.customerId]"><i
            class="fas fa-pencil-alt mr-1"></i>Sửa</a>
          <button class="btn btn-danger ml-1" data-target="#exampleModal" data-toggle="modal"
                  (click)="deleteId = customer.customerId; deleteName = customer.customerName"><i
            class="fas fa-trash-alt mr-1"></i>Xóa
          </button>
        </td>
      </tr>
      </tbody>
    </table>

    <!--  Pagination-->
    <div class="col-12">
      <nav aria-label="Page navigation example" class="float-right">
        <ul class="pagination">
          <div *ngIf="pageClicked==0; else show1"></div>
          <ng-template #show1>
            <li class="page-item" (click)="onFirst()">
              <a class="page-link">Đầu</a>
            </li>
            <li class="page-item" (click)="onPrevious()">
              <a class="page-link"><<</a>
            </li>
          </ng-template>
          <li *ngIf="pageClicked != 0" class="page-item" (click)="search(pages[pageClicked-1],id,name)">
            <a class="page-link">{{pageClicked}}</a>
          </li>
          <li [ngClass]="(pageClicked == pages[pageClicked]) ? 'active' : ''" class="page-item"
              (click)="search(pages[pageClicked],id,name)">
            <a class="page-link">{{pageClicked + 1}}</a>
          </li>
          <li *ngIf="pageClicked < pages.length -1" class="page-item" (click)="search(pages[pageClicked+1],id,name)">
            <a class="page-link">{{pageClicked + 2}}</a>
          </li>
          <li *ngIf="pageClicked < pages.length -2" class="page-item">
            <a class="page-link">...</a>
          </li>
          <li *ngIf="pageClicked < pages.length-2" class="page-item" (click)="onLast()">
            <a class="page-link">{{pages[pages.length - 1] + 1}}</a>
          </li>
          <div *ngIf="pageClicked===totalPages-1; else show2"></div>
          <ng-template #show2>
            <li class="page-item" (click)="onNext()">
              <a class="page-link">>></a>
            </li>
            <li class="page-item" (click)="onLast()"><a
              class="page-link">Cuối</a></li>
          </ng-template>
        </ul>
      </nav>
    </div>
  </ng-template>

  <!--    Modal Delete-->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Xác nhận xóa</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-customer-delete [deleteId]="deleteId" [deleteName]="deleteName"
                               (deleteComplete)="deleteSuccess()"></app-customer-delete>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
