<div class="container-fluid">
  <h3 class="text-center m-3">DANH SÁCH KHÁCH HÀNG</h3>
  <div class="row mb-3">
    <div class="col-4">
      <button class="btn btn-primary" type="button" data-target="#idModal1" data-toggle="modal"><i
        class="fas fa-plus-circle mr-1"></i>Thêm mới
      </button>
    </div>
    <div class="col-8 ">
      <div class="row ">
        <div class="col-12 d-flex justify-content-end">
          <input class="search form-control mr-3" placeholder="Tìm kiếm theo id"
                 (keyup.enter)="search(0)" aria-describedby="basic-addon2" [(ngModel)]="idInput">
          <input class="search form-control mr-3" placeholder="Tìm kiếm theo tên"
                 (keyup.enter)="search(0)" aria-describedby="basic-addon2" [(ngModel)]="nameInput">
          <button id="linkAdd" class="btn btn-light btn-outline-secondary" type="submit" (click)="search(0)"
                  data-toggle="tooltip"><i class="fas fa-search mr-1"></i>Tìm
            kiếm
          </button>
        </div>
      </div>
    </div>
  </div>
  <!--  <div *ngIf="errorMessage!==''">-->
  <!--    <p>{{errorMessage}}</p>-->
  <!--  </div>-->
  <table *ngIf="errorMessage===''" class="table table-striped">
    <!--  <table class="table table-striped">-->
    <thead>
    <tr>
      <th scope="col">Mã KH</th>
      <th scope="col">Tên KH</th>
      <th scope="col">Ngày sinh</th>
      <th scope="col">CMND</th>
      <th scope="col">Địa chỉ</th>
      <th scope="col">Email</th>
      <th scope="col">Công ty</th>
      <th scope="col">SĐT</th>
      <th scope="col">Tình trạng</th>
      <th scope="col">Hành động</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let customer of customers">
      <td>{{customer.customerId}}</td>
      <td>{{customer.customerName}}</td>
      <td>{{customer.customerBirthday|date:'dd/MM/yyy'}}</td>
      <td class="format">{{customer.customerIdCard}}</td>
      <td>{{customer.customerAddress}}</td>
      <td>{{customer.customerEmail}}</td>
      <td>{{customer.customerCompany}}</td>
      <td class="format">{{customer.customerPhone}}</td>
      <td>{{customer.status}}</td>
      <td class="">
        <button class="btn btn-success" data-target="#idModal1" data-toggle="modal"><i
          class="fas fa-pencil-alt mr-1"></i>Sửa
        </button>
        <button class="btn btn-danger" data-target="#exampleModal" data-toggle="modal"
                (click)="deleteId = customer.customerId; deleteName = customer.customerName"><i
          class="fas fa-trash-alt mr-1"></i>Xóa
        </button>
      </td>
    </tr>
    </tbody>
  </table>

  <!--  Pagination-->
  <div class="col-12">
    <nav aria-label="Page navigation example" class="float-right">
      <ul class="pagination">
        <li class="page-item" (click)="onFirst()" [ngClass]="pageClicked==0?'disabled':''">
          <a class="page-link">Đầu</a>
        </li>
        <li class="page-item" (click)="onPrevious()" [ngClass]="pageClicked==0?'disabled':''">
          <a class="page-link">Trước</a>
        </li>
        <li *ngIf="pageClicked != 0" class="page-item" (click)="onSubmit(pages[pageClicked-1])">
          <a class="page-link">{{pageClicked}}</a>
        </li>
        <li [ngClass]="(pageClicked == pages[pageClicked]) ? 'active' : ''" class="page-item"
            (click)="onSubmit(pages[pageClicked])">
          <a class="page-link">{{pageClicked + 1}}</a>
        </li>
        <li *ngIf="pageClicked < pages.length -1" class="page-item" (click)="onSubmit(pages[pageClicked+1])">
          <a class="page-link">{{pageClicked + 2}}</a>
        </li>
        <li *ngIf="pageClicked < pages.length -2" class="page-item">
          <a class="page-link">...</a>
        </li>
        <li *ngIf="pageClicked < pages.length-2" class="page-item" (click)="onLast()">
          <a class="page-link">{{pages[pages.length - 1] + 1}}</a>
        </li>
        <li class="page-item" (click)="onNext()" [ngClass]="pageClicked==totalPages-1?'disabled':''">
          <a class="page-link">Sau</a>
        </li>
        <li class="page-item" (click)="onLast()" [ngClass]="pageClicked==totalPages-1?'disabled':''"><a
          class="page-link">Cuối</a></li>
      </ul>
    </nav>
  </div>
  <!--  <button (click)="showToa()">show oát</button>-->

  <!--    Modal Delete-->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Xác nhận xóa</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-customer-delete [deleteId]="deleteId" [deleteName]="deleteName"
                               (deleteComplete)="deleteSuccess()"></app-customer-delete>
        </div>
      </div>
    </div>
  </div>

  <!--Modal chức năng chưa được hỗ trợ-->
  <div class="modal fade" id="idModal1" tabindex="-1" role="dialog"
       aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel1">Thông Báo!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Chức năng này chưa được hỗ trợ
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        </div>
      </div>
    </div>
  </div>
</div>
