<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-3 pl-0 bg-dark">
    </div>
<!--            Sidebar left-->
    <div class="col-3 pl-0 bg-dark" hidden>
          <div class="mr-3">
            <div class="text-wrap">
              <nav class="sidebar">
                <ul class="list-unstyled components mt-4 mb-4">
                  <li>
                    <a href="#list" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle mr-3 ml-4"
                       style="color: white; text-decoration: none">Danh sách</a>
                    <ul class="collapse list-unstyled" id="list">
                      <li>
                        <a class="ml-5" href="#" style="color: white">Tầng</a>
                      </li>
                      <li>
                        <a class="ml-5" href="#" style="color: white">Mặt bằng</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="dropdown-divider"></div>
            <div class="text-wrap">
              <nav class="sidebar">
                <ul class="list-unstyled components mt-4 mb-4">
                  <li>
                    <a href="#customer" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle mr-3 ml-4"
                       style="color: white; text-decoration: none">Quản lý khách hàng</a>
                    <ul class="collapse list-unstyled" id="customer">
                      <li>
                        <a class="ml-5" href="#" style="color: white">Khách hàng</a>
                      </li>
                      <li>
                        <a class="ml-5" href="#" style="color: white">Hợp đồng</a>
                      </li>
                      <li>
                        <a class="ml-5" href="#" style="color: white">Dịch vụ</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="dropdown-divider"></div>
            <div class="text-wrap">
              <nav class="sidebar">
                <ul class="list-unstyled components mt-4 mb-4">
                  <li>
                    <a href="#employee" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle mr-3 ml-4"
                       style="color: white; text-decoration: none">Quản lý nhân viên</a>
                    <ul class="collapse list-unstyled" id="employee">
                      <li>
                        <a class="ml-5" href="#" style="color: white">Nhân viên phục vụ</a>
                      </li>
                      <li>
                        <a class="ml-5" href="#" style="color: white">Nhân viên văn phòng</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="dropdown-divider"></div>
            <div class="text-wrap">
              <nav class="sidebar">
                <ul class="list-unstyled components mt-4 mb-4">
                  <li>
                    <a href="#service" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle mr-3 ml-4"
                       style="color: white; text-decoration: none">Quản lý dịch vụ</a>
                    <ul class="collapse list-unstyled" id="service">
                      <li>
                        <a class="ml-5" href="#" style="color: white">Danh sách dịch vụ</a>
                      </li>
                      <li>
                        <a class="ml-5" href="#" style="color: white">Thông tin sử dụng</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
    <div class="col-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<app-footer></app-footer>
