<div class="container-xl px-4 mt-4">
  <!-- Account page navigation-->
  <!--  <nav class="nav nav-borders">-->
  <!--    <a class="nav-link active ms-0" href=""-->
  <!--       target="__blank">Trang chủ</a>-->
  <!--    <a class="nav-link" href="" target="__blank">My profile</a>-->
  <!--    <a class="nav-link" href="" target="__blank">Nhân-->
  <!--      viên</a>-->
  <!--    <a class="nav-link" href="" target="__blank">Khách-->
  <!--      hàng</a>-->
  <!--    <a class="nav-link" href="" target="__blank">Hợp-->
  <!--      đồng</a>-->
  <!--  </nav>-->
  <hr class="mt-0 mb-4">
  <div class="row">
    <div class="col-xl-4">
      <!-- Profile picture card-->
      <div class="card mb-4 mb-xl-0">
        <div class="card-header">Ảnh đại diện</div>
        <div class="card-body text-center">
          <!-- Profile picture image-->
          <img class="img-account-profile rounded-circle mb-2"
               src="https://i.pinimg.com/originals/e7/fb/f4/e7fbf41eac65ae63e0830a5a4b955151.jpg" alt=""
               style="width: 200px; height: 200px">
          <!-- Profile picture help block-->
          <div class="small font-italic text-muted mb-4">JPG hoặc PNG không vượt quá 5 MB</div>
          <!-- Profile picture upload button-->
          <button class="btn btn-primary" type="button">Tải lên ảnh mới</button>
        </div>
      </div>
    </div>
    <div class="col-xl-8">
      <div class="card-header"><h3>Đổi mật khẩu</h3></div>
      <div class="card-body">
        <form [formGroup]="formAccount" (ngSubmit)="updatePassword()">
          <div class="mb-3">
            <label class="small mb-1" for="oldPassword">Mật khẩu cũ</label>
            <input class="form-control" id="oldPassword" type="password"
                   formControlName="oldPassword">
            <p class="text-danger"
               *ngIf="formAccount.get('oldPassword').hasError('required') && formAccount.get('oldPassword').touched">
              <b>*Vui lòng nhập mật khẩu cũ</b></p>
            <p class="text-danger"
               *ngIf="formAccount.get('oldPassword').hasError('pattern') && formAccount.get('oldPassword').touched">
              <b>*Mật khẩu không đúng định dạng</b></p>
            <p class="text-danger"
               *ngIf="notification">
              <b>*{{notification}}</b></p>
          </div>
          <div class="mb-3">
            <label class="small mb-1" for="newPassword">Mật khẩu mới</label>
            <input class="form-control" id="newPassword" type="password"
                   formControlName="newPassword">
            <p class="text-danger"
               *ngIf="formAccount.get('newPassword').hasError('required') && formAccount.get('newPassword').touched">
              <b>*Vui lòng nhập mật mới</b></p>
            <p class="text-danger"
               *ngIf="formAccount.get('newPassword').hasError('pattern') && formAccount.get('newPassword').touched">
              <b>*Mật khẩu không đúng định dạng</b></p>
          </div>

          <div class="mb-3">
            <label class="small mb-1" for="confirmNewPassword">Nhập lại mật khẩu mới</label>
            <input class="form-control" id="confirmNewPassword" type="password"
                   formControlName="confirmNewPassword">
            <p class="text-danger"
               *ngIf="formAccount.get('confirmNewPassword').hasError('required') && formAccount.get('confirmNewPassword').touched">
              <b>*Vui lòng nhập xác nhận mật khẩu</b></p>
            <p class="text-danger"
               *ngIf="formAccount.hasError('passwordNotMatch') && formAccount.get('confirmNewPassword').touched">
              <b>*Không khớp mật khẩu</b></p>
          </div>

          <button class="btn btn-success text-white mr-3" [disabled]="formAccount.invalid" type="submit"><i class="fas fa-save mr-2"></i>Lưu</button>
          <a class="btn btn-primary text-white mr-3" [routerLink]="['/employee/acc-detail']"><i
            class="fas fa-chevron-left mr-2"></i>Trở về</a>
        </form>
      </div>
    </div>
  </div>
</div>
