<img src="https://img.freepik.com/free-photo/giant-building-with-sun_1127-400.jpg?t=st=1648464945~exp=1648465545~hmac=6a7a19e2a60eeb0f0aa61d25d65cec11b50796cdaf9e57f909dc6d266057f463&w=996">
<div class="chinh_giua" style="color: #005cbf">
  <h3><b>TRUNG TÂM THƯƠNG MẠI</b></h3>
  <h3><b>CĂN HỘ DỊCH VỤ, A0321I1</b></h3>
</div>
<p class="text-center text-warning mt-5" style="size: 5px"  id="about">CẬP NHẬT NHỮNG THÔNG TIN MỚI NHẤT</p>
<h2 class="text-center" ><b>GIỚI THIỆU</b></h2>
<div class="container">
  <div class="row">
    <div class="col-4 widget">
      <img src="https://bizweb.dktcdn.net/100/299/766/themes/642475/assets/widget1.jpg?1594601127943">
      <div class="bottom_text">
        <p>Không gian sống</p>
      </div>
    </div>
    <div class="col-4 widget">
      <img src="https://bizweb.dktcdn.net/100/299/766/themes/642475/assets/widget2.jpg?1594601127943">
      <div class="bottom_text">
        <p>Tiện nghi</p>
      </div>
    </div>
    <div class="col-4 widget">
      <img src="https://bizweb.dktcdn.net/100/299/766/themes/642475/assets/widget3.jpg?1594601127943">
      <div class="bottom_text">
        <p>Nội thất</p>
      </div>
    </div>
  </div>
</div>

<div class="awe-section-1">
  <div class="container">
    <div class="cf-sec row">
      <div class="col-4 cf-b">
        <img src="https://bizweb.dktcdn.net/100/299/766/themes/642475/assets/cf2.png?1594601127943">
        <div class="cf-txt">
          <p class="cf-title">Wifi</p>
          <p class="cf-desc">Hệ thống Wifi free phủ sóng toàn tầng</p>
        </div>
      </div>
      <div class="col-4 cf-b">
        <img src="https://bizweb.dktcdn.net/100/299/766/themes/642475/assets/cf3.png?1594601127943">
        <div class="cf-txt">
          <p class="cf-title">Sức khỏe</p>
          <p class="cf-desc">Không gian, vị trí đem cho bạn một sức khỏe tốt.</p>
        </div>
      </div>
      <div class="col-4 cf-b">
        <img src="https://bizweb.dktcdn.net/100/299/766/themes/642475/assets/cf6.png?1594601127943">
        <div class="cf-txt">
          <p class="cf-title">Nội thất</p>
          <p class="cf-desc">Nội thất hiện đại sang trọng</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="awe-section-2">
  <div class="container">
    <div class="row">
      <div class="col-7">
        <img src="https://s1.odt.vn/uploads/06-2021/galleries/EpQIfXByE7TSAu5SwnLz3G1Fp5FbsovueRxnrmCz.jpeg">
      </div>
      <div class="col-5">
        <div class="item-info">
          <p class="title">Căn hộ A03 150m2</p>
          <div class="text-sm-left">
            <div class="desc">
              Có diện tích rộng, được thiết kế phù hợp cho việc thuê văn phòng hoặc kinh doanh.
            </div>
            <ul>
              <li>3 phòng rộng</li>
              <li>Điều hòa lớn</li>
              <li>2 nhà vệ sinh</li>
              <li>View hướng ra biển</li>
            </ul>
            <p class="price">100 triệu/tháng</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="awe-section-3">
  <div class="gallery_sec">
    <div class="container">
      <div class="row justify-content-center">
        <h3 class="g-title"><span>TẦNG MẪU</span></h3>
      </div>
      <div class="row">
        <div class="g-item col-4">
          <img src="https://cdn.muabannhanh.com/asset/frontend/img/gallery/2016/11/30/583e362147aca_1480472097.jpg">
        </div>
        <div class="g-item col-4">
          <img src="http://vinhphucland.com/upload/images/mat-bang-4.jpg">
        </div>
        <div class="g-item col-4">
          <img src="http://static.cenrea.com/uploadcategory/media/thue-van-phong-nho-quan-1-hay-chon-van-phong-chia-se---yv6.JPG">
        </div>
      </div>
      <div class="row">
        <div class="g-item col-4">
          <img src="https://sinhhungland.com/wp-content/uploads/2021/07/cho-thue-mat-bang-quan.jpg">
        </div>
        <div class="g-item col-4">
          <img src="https://file4.batdongsan.com.vn/2016/08/29/20160829075419-bbf9.jpg">
        </div>
        <div class="g-item col-4">
          <img src="https://nhadat24h.com/uploads/bds/202009/05/1487209_111506_27.3.jpg">
        </div>
      </div>
    </div>
  </div>
</div>
