<img src="https://kenh14cdn.com/thumb_w/660/2018/7/26/photo-1-1532601804743870410648.jpg">
<div class="chinh_giua">
  <h3><b>TRUNG TÂM THƯƠNG MẠI</b></h3>
  <h3><b>CĂN HỘ DỊCH VỤ, A0321I1</b></h3>
</div>
<p class="text-center text-warning mt-5" style="size: 5px">CẬP NHẬT NHỮNG THÔNG TIN MỚI NHẤT</p>
<h2 class="text-center"><b>TIN TỨC - SỰ KIỆN</b></h2>
<div class="row">
  <div class="col-4">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCYNGNopxxqWcYU6Cvsk8_dzHBcf2_PcwMRA&usqp=CAU"
         height="120" width="100%">
  </div>
  <div class="col-4">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJwG4WTvYFtWrbf_eQhz-9l0lfoPAwOxJUdpQ0vM92aNfAqackF1UDaofQK5NC9Fd7j1E&usqp=CAU"
      height="120" width="100%">
  </div>
  <div class="col-4">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRinfZh5kFXas1FZkLeXUuOG8bvoDj_RKc5Ft8JJHlRfLYd0VijztzwNqPPZqCAcOQll0M&usqp=CAU"
      height="120" width="100%">
  </div>
</div>
<div class="row">
  <div class="col-4">
    <a style="color: black; text-decoration: none" href=""><b>Khai trương tòa nhà</b></a>
  </div>
  <div class="col-4">
    <a style="color: black; text-decoration: none" href=""><b>Talk Show: Thành công là gì?</b></a>
  </div>
  <div class="col-4">
    <a style="color: black; text-decoration: none" href=""><b>Tổ chức đám cưới</b></a>
  </div>
</div>
