<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Danh sách tầng</title>
</head>
<body>
<div class="container-fluid  header_top">
  <h3 class="text-center m-3">DANH SÁCH TẦNG</h3>
  <div class="row" *ngIf="['ROLE_ADMIN'].indexOf(role)!==-1">
    <div class="col-4">
      <button class="btn btn-primary" type="button"><i class="fas fa-plus-circle mr-1"></i>Thêm mới</button>
    </div>
    <div class="col-8">
      <div class="row">
        <div class="col-12 d-flex justify-content-end">
          <input class="search form-control mr-3"
                 placeholder="Tìm kiếm theo tòa nhà">
          <input class="search form-control mr-3"
                 placeholder="Tìm kiếm theo tên tầng">
          <button class="btn btn-light btn-outline-secondary" type="button"><i class="fas fa-search mr-1"></i>Tìm kiếm</button>
        </div>
      </div>
    </div>
  </div>
  ​
  <table class="table table-striped" *ngIf="['ROLE_ADMIN'].indexOf(role)!==-1">
    <thead>
    <tr>
      <th class="text-center background_th" scope="col" width="14.29%">Tên tầng lầu</th>
      <th class="text-center background_th" scope="col" width="14.26%">Mã tầng lầu</th>
      <th class="text-center background_th" scope="col" width="14.29%">Diện tích(m<sup>2</sup>)</th>
      <th class="text-center background_th" scope="col" width="14.29%">Sức chứa(người)</th>
      <th class="text-center background_th" scope="col" width="14.29%">Trạng thái</th>
      <th class="text-center background_th" scope="col" width="14.29%">Loại tầng</th>
      <th class="text-center background_th" scope="col" width="14.29%"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let floor of floors">

      <td>{{floor.floorName}}</td>
      <td>{{floor.floorId}}</td>
      <td class="text-right">{{floor.area}}</td>
      <td class="text-right">{{floor.capacity}}</td>
      <td>{{floor.status}}</td>
      <td>{{floor.floorType}}</td>
      <td class="text-center">
        <button class="btn btn-success mr-1"><i class="fas fa-pencil-alt mr-1"></i>Sửa</button>
        <button class="btn btn-danger ml-1" data-target="#exampleModal" data-toggle="modal" (click)="deleteId = floor.floorId; deleteName = floor.floorName"><i
          class="fas fa-trash-alt mr-1"></i>Xóa
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  ​
  <!--  Pagination-->
  <!--  Pagination-->
  <div class="col-12 mb-5"
       *ngIf="['ROLE_ADMIN'].indexOf(role)!==-1">
    <nav aria-label="Page navigation example" class="float-right">
      <ul class="pagination">
        <div *ngIf="pageClicked==0; else show1"></div>
        <ng-template #show1>
          <li class="page-item" (click)="onFirst()">
            <a class="page-link">Đầu</a>
          </li>
          <li class="page-item" (click)="onPrevious()">
            <a class="page-link"><<</a>
          </li>
        </ng-template>
        <li *ngIf="pageClicked != 0" class="page-item" (click)="onSubmit(pages[pageClicked-1])">
          <a class="page-link">{{pageClicked}}</a>
        </li>
        <li [ngClass]="(pageClicked == pages[pageClicked]) ? 'active' : ''" class="page-item"
            (click)="onSubmit(pages[pageClicked])">
          <a class="page-link">{{pageClicked + 1}}</a>
        </li>
        <li *ngIf="pageClicked < pages.length -1" class="page-item" (click)="onSubmit(pages[pageClicked+1])">
          <a class="page-link">{{pageClicked + 2}}</a>
        </li>
        <li *ngIf="pageClicked < pages.length -2" class="page-item">
          <a class="page-link">...</a>
        </li>
        <li *ngIf="pageClicked < pages.length-2" class="page-item" (click)="onLast()">
          <a class="page-link">{{pages[pages.length - 1] + 1}}</a>
        </li>
        <div *ngIf="pageClicked===totalPages-1; else show2"></div>
        <ng-template #show2>
          <li class="page-item" (click)="onNext()">
            <a class="page-link">>></a>
          </li>
          <li class="page-item" (click)="onLast()"><a
            class="page-link">Cuối</a></li>
        </ng-template>
      </ul>
    </nav>
  </div>

  <!--  Xoa -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Xác nhận xóa</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-floor-delete [deleteId]="deleteId" [deleteName]="deleteName"
                            (deleteComplete)="deleteSuccess()"></app-floor-delete>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
