<body class="login-body">
<!--Login Wrapper-->
<div class="container-fluid login-wrapper">
  <div class="login-box">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="col-md-8 col-sm-6 col-12 login-box-form p-4">
        <div *ngIf="isSendMail then sent else notSent"></div>
        <ng-template #sent>
          <div *ngIf="isSuccessful then accepted else denied"></div>
          <ng-template #accepted>
            <div>
              <h3 class="mb-2">Nhập thông tin để thực hiện lấy lại mật khẩu</h3>
              <small class="text-muted bc-description">Hãy nhập tên tài khoản và làm các bước tiếp
                theo để thay đổi mật khẩu mới</small>
              <form action="" class="mt-2" [formGroup]="formGroup" (ngSubmit)="onSubmitt()">
                <div class="form-label-group">
                  <input type="password" class="form-control mt-0" placeholder="Mật khẩu mới*"
                         aria-label="Mật khẩu mới*" id="newPassword"
                         formControlName="newPassword" aria-describedby="basic-addon1">
                  <div class="error-place mb-3">
                    <div *ngFor="let validation of validation_messages.password">
                      <small class="text-danger"
                             *ngIf="formGroup.get('newPassword').hasError(validation.type)
                           && (formGroup.get('newPassword').touched)">{{validation.message}}
                      </small>
                    </div>
                  </div>
                </div>
                <div class="form-label-group">
                  <input type="password" class="form-control mt-0"
                         placeholder="Nhập lại mật khẩu mới*" aria-label="Nhập lại mật khẩu mới*"
                         id="repeatNewPassword" formControlName="repeatNewPassword"
                         aria-describedby="basic-addon2">
                  <div class="error-place mb-3">
                    <div *ngFor="let validation of validation_messages.password">
                      <small class="text-danger"
                             *ngIf="formGroup.get('repeatNewPassword').hasError(validation.type)
                           && (formGroup.get('repeatNewPassword').touched)">{{validation.message}}
                      </small>
                    </div>
                  </div>
                </div>
                <div *ngIf="isSubmited then submited else notSubmited"></div>
                <ng-template #notSubmited>
                  <div class="form-group">
                    <button class="btn btn-theme btn-block p-2 mb-0">Xác Nhận</button>
                  </div>
                </ng-template>
                <ng-template #submited>
                  <div class="form-group">
                    <button class="btn btn-theme btn-block p-2 mb-0" disabled>
                    <span class="spinner-border spinner-border-sm" role="status"
                          aria-hidden="true"></span>
                      Loading...
                    </button>
                  </div>
                </ng-template>
              </form>
            </div>
          </ng-template>
          <ng-template #denied>
            <div class="alert alert-danger" role="alert">
              Có lỗi xảy ra: đường dần kích hoạt không đúng hoặc mã kích hoạt hết hạn, vui lòng
              kiểm tra lại hoặc liên hệ bộ phận hỗ trợ để được giúp đỡ
            </div>
          </ng-template>
        </ng-template>
        <ng-template #notSent>
          <div class="alert alert-danger" role="alert">
            <ul>
              <li> Bạn cần sử dụng đường dẫn xác thực chúng tôi đã gửi cho bạn!</li>
              <li>Một email đã được gửi tới địa chỉ Email của bạn, hãy truy cập thư cá nhân và
                nhấn vào đường dẫn xác thực
              </li>
              <li>
                <span><h5>Lưu ý:</h5></span>nếu không tìm thấy hãy tìm trong mục
                <span><h5>Thư rác/Spam</h5></span>
              </li>
            </ul>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
</body>
